body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #f0efef;
    background-color: #289172;
    text-align: center;
}

.container {
    padding: 0;
    margin-top: 40px;
}

.footer {
    margin-top: 60px;
}

a {
    color: #174a72;
}

input {
    display: block;
    position: relative;
    margin: 10px auto;
}

input#button {
    width: 230px;
}

.view {
    position: relative;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #f0efef;
    padding: 20px;
    width: 60%;
    min-width: 400px;
}